/*
 * @Author: LKH 
 * @Date: 2019-03-06 12:29:08 
 * @Last Modified by: LKH
 * @Last Modified time: 2019-03-19 18:37:40
 */
 .nav-simple{
     height: 60px;
     line-height: 60px;
     border-bottom: 1px solid #ddd;
     background: #fff;
 }
 .nav-simple .logo{
     font-size: 26px;
     font-weight: bold;
     color: #c60023;
     text-decoration: none;
 }